@model dynamic

@{
    ViewData["Title"] = "Resetear Contraseña";
}

<div class="container" style="color: #e0e6f1;">
    <h1 class="my-4">Resetear Contraseña</h1>
    <h4 class="mb-3">Estás reseteando la contraseña para: <strong>@Model.Email</strong></h4>

    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-controller="Admin" asp-action="ResetPassword">

                <input type="hidden" name="userId" value="@Model.UserId" />

                <div class="form-floating mb-3">
                    <input name="newPassword" type="password" class="form-control" placeholder="Nueva Contraseña" style="background-color: #1f2a40; border-color: #007bff; color: #e0e6f1;" />
                    <label for="newPassword" style="color: #a0a8b9;">Nueva Contraseña</label>
                </div>

                <button type="submit" class="btn btn-lg btn-danger">Forzar Reseteo</button>
                <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>